@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;300;400;500&family=Merriweather:wght@300&family=Pacifico&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "IBM Plex Mono", monospace;
  background-color: rgb(12, 12, 12);
}

@layer components {
  .graphPaper {
    background-color: #ffffff;
    opacity: 0.8;
    background-image: linear-gradient(#000000 1px, transparent 1px),
      linear-gradient(to right, #000000 1px, #ffffff 1px);
    background-size: 20px 20px;
  }
}
